In [ ]:
import pandas as pd
import numpy as np
import joblib
import re

# ============================================================
# üîß Fun√ß√£o auxiliar
# ============================================================
def extrair_numero(texto):
    if pd.isna(texto):
        return np.nan
    numeros = re.findall(r'\d+', str(texto))
    return int(numeros[0]) if numeros else np.nan


# ============================================================
# üìä Estat√≠sticas descritivas
# ============================================================
def estatisticas_descritivas(df):
    col_num = df.select_dtypes(include=['number']).columns
    col_cat = df.select_dtypes(include=['object', 'category']).columns
    col_date = df.select_dtypes(include=['datetime64[ns]', 'datetime64']).columns

    resumo = {}

    if len(col_num) > 0:
        stats_num = pd.DataFrame(index=col_num)
        stats_num['Count'] = df[col_num].count()
        stats_num['Mean'] = df[col_num].mean()
        stats_num['Std'] = df[col_num].std()
        stats_num['Var'] = df[col_num].var()
        stats_num['Min'] = df[col_num].min()
        stats_num['25%'] = df[col_num].quantile(0.25)
        stats_num['50% (Median)'] = df[col_num].median()
        stats_num['75%'] = df[col_num].quantile(0.75)
        stats_num['Max'] = df[col_num].max()
        resumo['Num√©ricas'] = stats_num.round(3)

    if len(col_cat) > 0:
        stats_cat = pd.DataFrame(index=col_cat)
        stats_cat['Count'] = df[col_cat].count()
        stats_cat['Unique'] = df[col_cat].nunique()
        stats_cat['Top'] = df[col_cat].mode().iloc[0]
        stats_cat['Freq'] = df[col_cat].apply(lambda x: x.value_counts().iloc[0])
        resumo['Categ√≥ricas'] = stats_cat

    if len(col_date) > 0:
        stats_date = pd.DataFrame(index=col_date)
        stats_date['Count'] = df[col_date].count()
        stats_date['Min'] = df[col_date].min()
        stats_date['Max'] = df[col_date].max()
        resumo['Datas'] = stats_date

    return resumo


def exibir_resumo(resumo):
    print("\n" + "="*50)
    print("RESUMO DAS ESTAT√çSTICAS DESCRITIVAS")
    print("="*50)

    for tipo, stats in resumo.items():
        print(f"\n{'='*20} {tipo.upper()} {'='*20}")
        try:
            from IPython.display import display
            display(stats.style.set_properties(**{
                'text-align': 'center'
            }).set_table_styles([{
                'selector': 'th',
                'props': [('text-align', 'center')]
            }]))
        except ImportError:
            print(stats)
        print("-"*50)


# ============================================================
# üì• Carregamento seguro dos DataFrames
# ============================================================
def carregar_dataframe(caminho):
    obj = joblib.load(caminho)

    if isinstance(obj, pd.DataFrame):
        return obj

    if isinstance(obj, dict):
        # tenta encontrar uma chave com 'df' no nome
        for key in obj.keys():
            if 'df' in key.lower():
                return obj[key]
        # se n√£o encontrar, tenta pegar o primeiro DataFrame
        for key, value in obj.items():
            if isinstance(value, pd.DataFrame):
                return value
        raise ValueError(f"Nenhum DataFrame encontrado no arquivo {caminho}. Chaves: {list(obj.keys())}")

    raise ValueError(f"Formato desconhecido no arquivo {caminho}. Tipo: {type(obj)}")


# ============================================================
# üîó Arquivos mapeados
# ============================================================
arquivos = {
    'df_unidades': 'df_unidades.z',
    'df_vendas': 'df_vendas.z',
    'df_categorias': 'df_categorias.z',
    'df_produtos': 'df_produtos.z'
}

# ============================================================
# üöö Carregar todos
# ============================================================
dataframes = {}

for nome, caminho in arquivos.items():
    try:
        df = carregar_dataframe(caminho)
        dataframes[nome] = df
        print(f"‚úÖ {nome} carregado com sucesso. Shape: {df.shape}")
    except Exception as e:
        print(f"‚ùå Erro ao carregar {nome}: {e}")


# ============================================================
# üöÄ Gera√ß√£o de estat√≠sticas
# ============================================================
for nome, df in dataframes.items():
    print(f"\n{'#'*60}")
    print(f"ESTAT√çSTICAS PARA: {nome.upper()}")
    print(f"{'#'*60}")
    resumo = estatisticas_descritivas(df)
    exibir_resumo(resumo)

‚úÖ df_unidades carregado com sucesso. Shape: (3, 3)
‚úÖ df_vendas carregado com sucesso. Shape: (10418, 14)
‚úÖ df_categorias carregado com sucesso. Shape: (50, 2)
‚úÖ df_produtos carregado com sucesso. Shape: (9112, 9)

############################################################
ESTAT√çSTICAS PARA: DF_UNIDADES
############################################################

==================================================
RESUMO DAS ESTAT√çSTICAS DESCRITIVAS
==================================================

==================== NUM√âRICAS ====================

--------------------------------------------------

==================== CATEG√ìRICAS ====================

--------------------------------------------------

############################################################
ESTAT√çSTICAS PARA: DF_VENDAS
############################################################

==================================================
RESUMO DAS ESTAT√çSTICAS DESCRITIVAS
==================================================

==================== NUM√âRICAS ====================

--------------------------------------------------

==================== DATAS ====================

--------------------------------------------------

############################################################
ESTAT√çSTICAS PARA: DF_CATEGORIAS
############################################################

==================================================
RESUMO DAS ESTAT√çSTICAS DESCRITIVAS
==================================================

==================== NUM√âRICAS ====================

--------------------------------------------------

==================== CATEG√ìRICAS ====================

--------------------------------------------------

############################################################
ESTAT√çSTICAS PARA: DF_PRODUTOS
############################################################

==================================================
RESUMO DAS ESTAT√çSTICAS DESCRITIVAS
==================================================

==================== NUM√âRICAS ====================

--------------------------------------------------

==================== CATEG√ìRICAS ====================

--------------------------------------------------